<div class="container" style="
     max-width:600px;
     max-height: 500px;
     float: none;
     margin-left: auto;
     margin-right: auto;">
	<form id='create_{{name}}'>
 		{{'form_line' | forEachPropertyType}}
 		<button type="submit" class = "btn btn-primary" {{'backPage' | post}}>Create</button>
	</form>
</div>
