<div class="form-group label-floating is-empty">
	<label class="control-label" for="{{name}}">{{name}}</label>
 	<input type="text" name="create_form_field_{{name}}" class="form-control">
 	<span class="material-input"></span>
 </div> 
