<tr>
  {{'line_cell' | forEachProperty}}
  <td class="td-actions text-center">
        <button {{'edition_form' | newPageForEntity}} type="button" rel="tooltip" title="Edit Customer" class="btn btn-success btn-simple btn-xs">
	        <i class="fa fa-edit"></i>
	    </button>
	    <button {{'remove' | action}} type="button" rel="tooltip" title="Remove Custumer" class="btn btn-danger btn-simple btn-xs">
	        <i class="fa fa-times"></i>
	    </button>
   </td>
</tr>